body{
    background: url("/static/images/1308896.jpg") no-repeat fixed;
    background-size:  100% 100% ;     
}


.profile-box{
            width:100%;
            padding:20px;
}

.post{
    background-color: rgb(147, 233, 147);
    width:35%;
    height:100%;
}
.commentBox{
    background-color: cadetblue;
    height: 80px;
    border-radius:20px;
    border-left: solid mediumaquamarine 5px;
    border-right: solid mediumaquamarine 5px;
    overflow:auto;
    padding-left:10px;
    
}

.commentUser{
    font-size: small;
    font-weight: bold;
}

.commentDelete{

    color:red;
    font-weight: bold;
    text-align: right;
    margin-left:80%;

}
.commentDelete:hover{

    cursor: default;
}

.card-body a{

    text-decoration: none;
    cursor: default;
}

.heading{
    
    background-color: #85b858;
    color:white;
    margin-top:10px;
    padding:10px;
    width:90%;
}

.peopleBox{

    height: 100%;
    overflow: auto;
}

.a{

    display: inline;
}

.friendBox{
    
    height:30%;
    overflow: auto;
}

.user-img-update{
    background-color: greenyellow;
    padding:10px;
    border-radius:10px;
    width:40%;
}

.errorlist{
    display: none;
}

@media screen and (max-width:950px){

    .user-img-update{
        
        width:60%;
       
    }
}

@media screen and (max-width:580px) {
    
    .card-footer-item{
        margin-left:5%;
    }

    .card-footer-links{
        margin-left:30%;
    }

    .user-img-update{
        
        width:100%;
    }

    .friendBox{
    
        height:300px;
      
    }

    .heading{
        width:100%;
    }
       
}