{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
   
    <div class="d-flex justify-content-center" style="margin-top: 10%;">
        <div class="loginbox">
            <h3 class="text-center fw-bold">Login</h3>
          <form action="/auth/login/" method="post">
              {% csrf_token %}
             {{form.as_p}}
            <button type="submit" class="btn btn-md btn-success auth-button">LogIn</button>
         </form>
         <div class="text-center mt-1">create new account <a href="/auth/signup/">Signup</a></div>
        </div>
    </div>
   
    <!--messages-->
    {% if messages %}
        {% for message in messages %}
         <p id="login_messages" data-login_messages="{{message}}"></p>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}